{% comment %}
    Renders a product variant option containing text, eg. a size option (radio input and label)
    Accepts:
    - name: {String} value of the name attribute of the input
    - id: {String} value of the id attribute of the input
    - value: {String} value of the value attribute of the input
    - checked: {Boolean} adds a checked attribute to the input
    - attributes: {String} Optional. Custom attributes of the element, eg. data attribute or aria-label

    Usage:
    {% for value in option.values %}
      {%- liquid
        assign id = section.id | append: '-' | append: option.name | append: '-' | append: forloop.index0
        assign checked = false
        if forloop.index0 == 0
          assign checked = true
        endif
      -%}
      {% render 'armament-text-option' with name: option.name, id: id, value: value, checked: checked %}
    {% endfor %}
{% endcomment %}

<div class="inline-block mr-2 mb-3 armament-text-option">
  <input
    type="radio"
    id="{{ id }}"
    name="{{ name }}"
    value="{{ value | escape }}"
    class="sr-only"
    {% if checked %}checked{% endif %}
    {% if attributes %}{{ attributes }}{% endif %}
  >
  <label
    for="{{ id }}"
    class="inline-block relative text-h6 font-heading heading-case py-2 px-3 text-body cursor-pointer before:absolute before:inset-0 before:opacity-20 before:border before:border-body before:transition-opacity before:duration-300"
    data-aid="text-option"
  >
    {{ value }}
  </label>
</div>
