{% comment %}
    Renders a styled 'button' (<a> or <button> depending on context).
    Accepts:
    - url: {String} url if the button is a link. If no url is specified, a <button> element will be rendered
    - content: {String} the content to be displayed in the button
    - style: {String} 'filled' or 'outline' button style. Defaults to 'filled'
    - classes: {String} custom classes to be applied to the button, eg. for margin or width
    - type: {String} sets the value of the type attribute if a <button> element. If none is specified, the type will be 'submit' by default
    - attributes: {String} custom attributes of the element, eg. data attribute or aria-label
    - loading: {Boolean} set to true if a loading icon is to be displayed. If unspecified, loading is set to false by default
    - icon_position_class: {String} the top and left value of the icon (optional)
    - data_aid: {String} value of the data-aid attribute of the button (testing)
    - target: {Obj} defines target of btn's action

    Usage:
    {% render 'armament-button' with url: section.settings.url, content: section.settings.button_label, style: section.settings.button_style, classes: 'mb-4' %}
    {% render 'armament-button' with content: 'Add to cart', attributes: 'data-add-to-cart aria-label="Add to cart"', classes: 'w-1/2' %}

    If loading is set to true, a loading icon will display when a data-attribute of data-button-loading is added to the button element
{% endcomment %}

{%- liquid
  assign type = type | default: "submit"
  if url
    assign tag = 'a'
    assign href = 'href=' | append: url
    assign button_type = ''
  else
    assign tag = 'button'
    assign href = ''
    assign button_type = 'type=' | append: type
  endif

  if style == 'outline'
    assign style_classes = "text-body hover:text-page before:absolute before:top-0 before:bottom-0 before:left-0 before:right-1/2 before:-z-[1] before:bg-body before:origin-[0_50%] before:transition-transform before:duration-300 before:ease-out after:right-0 after:left-1/2 after:origin-[100%_50%] armament-button--outline hover:disabled:text-body focus:disabled:text-body"
  else
    assign style_classes = "text-page hover:text-body after:right-0 after:left-0 armament-button--filled hover:disabled:text-page focus:disabled:text-page"
  endif

  assign button_classes = "text-h6 font-heading heading-case leading-none text-center min-h-[44px] py-[13px] px-4 inline-block border border-body transition-colors duration-500 relative z-10 armament-button after:absolute after:top-0 after:bottom-0 after:-z-[1] after:bg-body after:transition-transform after:duration-300 after:ease-out" | append: " " | append: style_classes
-%}

<{{ tag }}
  {{ href }}
  {{ button_type }}
  {% if attributes %}{{ attributes }}{% endif %}
  class="{{ button_classes }}{% if classes %} {{ classes }}{% endif %}"
  data-aid="{{ data_aid }}"
  {% if target %}data-target="{{ target }}"{% endif %}
>
  <span data-armada-button-text>{{ content }}</span>

  {% if loading and tag == "button" %}
    <span data-armada-button-load-icon class="hidden absolute animate-spin w-4 h-4 rounded-full border-2{% if icon_position_class %} {{ icon_position_class }}{% else %} left-[calc(50%-2px)] top-1/2{% endif %}"></span>
  {% endif %}
</{{ tag }}>
