<!doctype html>
  <html
    class="no-js max-w-full overflow-x-hidden !h-auto"
    lang="{{ request.locale.iso_code }}"
    data-headings-size="{{ settings.headings_size }}"
    data-headings-case="{{ settings.headings_case }}"
    data-headings-line-height="{{ settings.headings_line_height }}"
  >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'theme.min.js' | asset_url }}" as="script">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- liquid
      render 'seo-title'
      render 'social-meta'
      render 'fonts'
      render 'css-variables'
      render 'essential-css'
    -%}

    {{ content_for_header }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body class="template-{{ request.page_type | handle }} bg-page text-base font-body max-w-full overflow-x-hidden !h-auto">
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {%- if settings.custom_css != blank -%}
      <style>
        {{ settings.custom_css }}
      </style>
    {%- endif -%}

    {% sections 'password-overlay-group' %}

    <main class="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    <script>
      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        added: `{{ 'products.product.added' | t }}`,
        adding: `{{ 'products.product.adding' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        isSoldOut: `{{ 'products.product.is_sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        isUnavailable: `{{ 'products.product.is_unavailable' | t }}`,
        choose: `{{ 'products.product.choose' | t }}`,
        chooseVariant: `{{ 'products.product.choose_variant' | t }}`,
      }
    </script>

    <script defer type="module" src="{{ 'theme.min.js' | asset_url }}"></script>

  </body>
  </html>